<% wrap_layout :application do %>


  <section class="container page-content">

    <hr class="vertical-space2">

    <div class="eleven columns portfolio-item">
      <h1><%= current_page.data.title %></h1>
      <% if current_page.data.description %>
        <h2><small><%= current_page.data.description %></small></h2>
      <% end %>
    </div>

    <section class="eleven columns">
      <article>

        <%= yield %>

      </article>
    </section>

    <aside class="four columns offset-by-one sidebar">
      <div class="portfolio-item-detail-box">
        <% if current_page.data.date %>
          Date: <%= current_page.data.date %>
        <% end %>

        <% if current_page.data.tags %>
          <hr>
          <%
          # tag_links = current_page.data.tags.map do |tag|
          #   "<a href=\"#\">#{tag}</a>"
          # end
          %>
          <!-- Cat: <%# tag_links.join(", ") %> -->
          Cat: <%= current_page.data.tags.join(", ") %>
        <% end %>

        <% if current_page.data.project_links %>
          <h4 class="subtitle">Project Links</h4>
          <div class="listbox1">
            <ul>
              <% current_page.data.project_links.each do |link| %>
                <li><a href="<%= link.url %>"><%= link.title %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <br class="clear">
      </div>
    </aside>

    <!-- end-sidebar-->
    <hr class="vertical-space2">
  </section>
  <!-- container -->

<% end %>